* {
		box-sizing: border-box;
}
body{
	background-color: #EDEFF2;

}
.navbar-default {
	background-color: #AD99BA
}
.navbar-toggle{
	background-color: #EDEFF2;

}
#nav-list {
	background-color: ;
}
.navbar-nav a:hover {
	background-color: #EDEFF2;
	
}
h5{
	text-align: center;
	padding:2px;
	
}

.hidden-s {
	overflow: hidden;
	padding: 0;
	margin:0;
}

.box1 {
	position: relative;
	background-color: #A6BA99;
	width: 100%;
	height: 350px;
	font-family: Helvetica;
	color: black;
	padding: 1px 28px 12px 14px;
	margin: 5px 5px 5px 17px;
	
	overflow:auto;
	text-align:justify;
	

}


.h1 {
	font-size: 1.6em;
	text-decoration-color: currentColor red;
}



