* {
		box-sizing: border-box;
}
body{
	/*background-color: #EDEFF2;*/
	background: url(http://worldoftanks.ru/dcont/fb//media/tiger2wall/1920_1280.jpg);

}
#my_navbar{
	opacity: 0.8;
	text-decoration: none;
}
}
.navbar-default {
	background-color: #AD99BA;
	opacity: 0.8;
	
}
.navbar-toggle{
	background-color: #EDEFF2;
        

}
#nav-list a {

	text-align: center;
	font-size: 1em;
	font-weight: bold;
}
#nav-list a:hover{
		background: #E7E7E7;
	}
.navbar-nav a:hover {
	/*background-color: #EDEFF2;*/
	background-color: transparent;
	
}
h5{
	text-align: center;
	padding:2px;
	
}

.hidden-s {
	
	overflow: hidden;
	padding: 0 0 0 0;
	margin: 0px -10px 0px 0px;
	border: 6px solid transparent;
}

.box1 {
	
	background-color: #A6BA99;
	width: 98%;
	height: 700px;
	font-family: Helvetica;
	color: black;
	float: left;
	padding: 1px 15px 15px 15px;
	margin: 0px 0px 0px 0px;
	opacity: 0.8;
	overflow:auto;
	text-align:justify;
	

}
.box1:hover{
	box-shadow: 1px 1px 1px 1px #cccccc;
	opacity: 0.9;
}

.h1 {
	font-size: 1.6em;
	text-decoration-color: currentColor red;
}


